{% extends "base.html" %}


{% block content %}
  <div class="card">
    <h4 class="card-header">Context List</h4>
    <div class="card-body">
      <ul class="list-group mb-4">
        {% for obj in page_obj %}
          <li class="list-group-item d-flex justify-content-between align-items-cente">
            <a href="{{ obj.get_absolute_url }}">{{ obj }}
            </a>
            <span class="badge badge-primary badge-pill">{{ obj.total_email_count }}</span>
          </li>
        {% endfor %}
      </ul>
      <a class="btn btn-primary" href="{% url "context_create" %}">Add Context</a>
    </div>
  </div>
{% endblock %}
