{% extends "base.html" %}


{% block content %}
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="card text-white bg-dark">
            <div class="card-body">
              <h5 class="card-title">Contexts</h5>
              <p class="card-text">List all your context, add new context, delete old ones and send emails using a
                context.</p>
              <a href="{% url "context_list" %}" class="btn btn-info">Context Manage</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-white bg-dark">
            <div class="card-body">
              <h5 class="card-title">Emails</h5>
              <p class="card-text">Add New emails as template and load template email from csv files, docx, txt
                files.</p>
              <a href="{% url "email_template_list" %}" class="btn btn-info">Email Manage</a>
            </div>
          </div>
        </div>
        <div class=" col-sm-4">
          <div class="card text-white bg-dark">
            <div class="card-body">
              <h5 class="card-title">Contact</h5>
              <p class="card-text">View all your contacts, add new ones, update or delete old ones at your own
                needs.</p>
              <a href="{% url "contact_list" %}" class="btn btn-info">Contact Manage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
