{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="card">
    <h4 class="card-header bg-light">Update Email</h4>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Update</button>
        <a href="{% url "email_template_delete" object.slug %}" class="btn btn-danger">Delete</a>
      </form>
    </div>
  </div>
{% endblock %}
