{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags crispy_forms_filters %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt>
          <img src="{% static "images/img-01.png" %}" alt="IMG">
        </div>
        <form class="login100-form validate-form" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <span class="login100-form-title">
						Login to enter the emailer!
					</span>
          {{ form|crispy }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
              Login
            </button>
          </div>

          <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
            <a class="txt2" href="{% url 'account_reset_password' %}">
              Username / Password?
            </a>
          </div>

          <div class="text-center p-t-136">
            <a class="txt2" href="{{ signup_url }}">
              Create your Account
              <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

